<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.type %> - Product Details</title>
    <link rel="stylesheet" href="/Pstyle.css">
    <link rel="icon"  href="/logo.png">
</head>
<body>
    <div class="product-container">
        <div class="product-image">
            <img src="/products/<%= product.type %>.jpg" alt="Product Image">
        </div>
        <div class="product-details">
            <h1><%= product.type %></h1>
            <p><strong>Price:</strong> <%= product.price %></p>
            <p><strong>Category:</strong> <%= product.category %></p>
            <p><strong>Small Description:</strong> <%= product.small_description %></p>
            <p><strong>Large Description:</strong> <%= product.large_description %></p>

            <h2>Seller Information</h2>
            <p><strong>Company Name:</strong> <%= product.company_name %></p>
            <p><strong>Seller Name:</strong> <%= product.seller_name %></p>
            <p><strong>Mobile:</strong> <%= product.seller_mobile %></p>
            <p><strong>Email:</strong> <%= product.seller_email %></p>
            <p><strong>District:</strong> <%= product.seller_district %></p>

            <div class="contact-button-container">
                <a href="mailto:<%= product.seller_email %>" class="contact-button">Mail</a>
                <a href="http://localhost:8080/chat/<%=product.id%>" class="contact-button">Message</a>
            </div>
        </div>
    </div>
</body>
</html>
